:root {
  --background: rgb(27, 27, 27);
  --highlight: rgb(48, 48, 48);
  --text: rgba(255, 255, 255, 0.848);
  --accent: rgb(144, 209, 255);
  --contrast: rgb(244, 103, 124);
  --panel: #454545;
  --border: rgba(255, 255, 255, 0.426);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

#app{
    height:100%;
    background-color: var(--background);
}

p{
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
}

a{
    color: var(--border);
    text-decoration: none;
}

*{
    font-family: 'Palatino', serif;
    /* font-family: andale mono, monospace; */
}
